<div class="container">
  <div class="big-card__image">
    <img src="https://cdn.vectorstock.com/i/preview-1x/35/52/placeholder-rgb-color-icon-vector-32173552.jpg" alt="" >
  </div><!--big-card__image  -->
  <div class="big-card__title">
   <h1><a href="">Lorem ipsum dolor sit amet </a></h1>
  </div>   <!-- big-card__title -->

  <div class="big-card__description">
    <p> <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime asperiores fugit molestiae eius reiciendis iusto, sunt dolor tenetur blanditiis ut distinctio sapiente culpa delectus eos placeat corrupti dolore! Error, dolor?</a></p>
  </div>  <!-- big-card__description -->
</div><!-- container -->
