.container{
  width: 450px;
  margin: 0 0 10px 20px;
  transition: 0.2s;
}

.container:hover{
  transform: scale(1.05);
  }


.container__small-card__flex{
  display: flex;
}

.small-card__image img{
  width: 200px;
  height: 130px;
  margin: 0 20px 0 0;
}

.small-card__title{
  display: flex;
  align-items: center;
}

.small-card__title a:hover{
  color: rgb(110, 110, 110);
}


.separator{
  margin-top: 10px;
}
