<div class="container">

  <div class="back">
    <a [routerLink]="['']"> << VOLTAR </a>
  </div>

  <div class="container__flex">

    <div class="content__cover">
      <img src="{{imageCover}}" alt="">
    </div>  <!-- content__cover -->

    <div class="content__title">
      <h1>{{contentTitle}}</h1>
    </div>  <!-- content__title -->

    <div class="content__description">
      <p>{{contentDescription}}</p>

    </div>  <!-- content__description -->
  </div>  <!-- container__flex -->
</div><!-- container -->
